body{
    background:#f5efe2;
    font-family:Arial;
    margin:0;
}

header{
    background:#4b1f1f;
    color:white;
    text-align:center;
    padding:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
}

.principal{
    padding:30px;
    overflow:hidden;
}

.texto{
    width:50%;
    float:left;
}

.imagen{
    width:40%;
    float:right;
    text-align:center;
}

.imagen img{
    width:200px;
}

button{
    background:#c95c3d;
    color:white;
    border:none;
    padding:10px;
}

.datos{
    background:#d66349;
    text-align:center;
    padding:20px;
    color:white;
}

.dato{
    width:24%;
    display:inline-block;
}

.frase{
    background:#4b1f1f;
    color:white;
    text-align:center;
    padding:20px;
}

.frase img{
    width:70px;
}

.platos{
    text-align:center;
    padding:30px;
}

.tarjeta{
    width:40%;
    background:white;
    margin:10px;
    display:inline-block;
    padding:10px;
}

.tarjeta img{
    width:100px;
}

footer{
    background:#4b1f1f;
    color:white;
    text-align:center;
    padding:15px;
}